.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.container{
max-width: 1280px;
  margin: 0 auto;
}

.navigation ul{
  display: flex;
  list-style: none;
  gap: 2rem;
}
.logo{
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}
.logo img{
  margin-top: 15px;
  width: 60px;
  height: 60px;
 
}